@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  @apply bg-neutral-200 dark:bg-slate-700;
}

.section {
  margin-top: 300px;
  margin-bottom: 300px;
}
.btn-project {
  @apply inline-flex text-white dark:text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg;
}
.btn-link {
  @apply inline-flex text-white dark:text-white bg-indigo-500 border-0 py-3 px-4 mr-2 focus:outline-none hover:bg-indigo-600 rounded text-xs;
}

.project-card {
  @apply flex flex-col m-3 rounded-xl w-full
            transition duration-300 transform border border-indigo-400
            hover:scale-105
            hover:shadow-xl
            /* dark:border-gray-200/50 */
            /* dark:hover:shadow-gray-400/40 */
            border-neutral-500
            hover:shadow-neutral-500
            dark:border-indigo-400
            dark:hover:shadow-indigo-400/40

            hover:text-blue-600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-900 dark:text-white;
}

a,
link {
  @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50;
}

p {
  @apply text-slate-500 dark:text-slate-400;
}

.custom-link {
  /* 호버 시에 원하는 마우스 커서 모양으로 변경합니다 */
  cursor: pointer; /* 다른 마우스 커서 아이콘으로 변경 가능 */
}
